<p><span id="xdw_a"> <img id="RESPONSE_1" class="mce_onyx_gap" src="img/icons/gap-placeholder.png" alt="" /> + </span>
    <span id="xdw_b"><img id="RESPONSE_2" class="mce_onyx_gap" src="img/icons/gap-placeholder.png" alt="" /> = </span>
    <span id="xdw_c"><img id="RESPONSE_3" class="mce_onyx_gap" src="img/icons/gap-placeholder.png" alt="" /></span>
</p>