/*
div {
  outline: 2px solid black;
  margin: 2%; 
}
*/

:root {
  --qr-width: 100;
}

.aufgabenblock {
}

.links {
}

.mitte {
}

.rechts {
}

/*
#qrCodeLinks {
  position: sticky;
  top: 10px;
  margin: 10px;
}

#qrCodeLinks > img {
    width: 100%;
    height: 100%;
}

#qrCodeRechts {
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: sticky;
  bottom: 10px;
}

#qrCodeRechts > img {
    width: 100%;
    height: 100%;
}
*/