<p>
    <span id="xdw_a">
        <img id="RESPONSE_1" class="mce_onyx_gap active" src="img/icons/gap-placeholder.png" alt="" /> + 
    </span>
    <span id="xdw_b">
        <img id="RESPONSE_2" class="mce_onyx_gap" src="img/icons/gap-placeholder.png" alt="" /> = 
    </span>
    <span id="xdw_c">
        <img id="RESPONSE_3" class="mce_onyx_gap" src="img/icons/gap-placeholder.png" alt="" />
    </span>
</p>




<form>
    <label for="input01">input01</label><br>
    <input type="text" id="input01" name="input01" class="inputs"><br>
    <label for="input02">input02</label><br>
    <input type="text" id="input02" name="input02" class="inputs">
</form> 